.phonebook_item {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  gap: 24px;

  span {
    font-size: 18px;
    font-weight: bold;

    &:first-child {
      color: rgb(70, 70, 70);
    }

    &:nth-child(2) {
      color: darkmagenta;
    }
  }
}
.phonebook_item--error {
  font-size: 20px;
  font-weight: bold;
  color: darkmagenta;
  margin: 0;
}
