.phonebook__home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;

  > h1 {
    font-size: 40px;
    text-align: center;
    color: cadetblue;
    text-shadow: 1px 1px 1px black, 1px 4px 4px black;
  }

  svg {
    color: cadetblue;
    filter: drop-shadow(5px 5px 15px black);
  }
}
