.phonebook__search {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  input {
    font-size: 16px;
    padding: 8px 16px;
    outline: none;
    border: none;
    border: 1px solid black;
    border-radius: 8px;
    background-color: transparent;
    color: #000;
  }
}
