.phonebook__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  border: 2px solid black;
  border-radius: 8px;
  padding: 16px;

  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    font-weight: bold;
    gap: 4px;
    input {
      font-size: 16px;
      outline: none;
      border: none;
      border-bottom: 1px solid black;
      background-color: transparent;
      color: #000;
      border-radius: 8px;
    }
  }
}
.phonebook__form--error {
  font-size: 20px;
  font-weight: bold;
  color: darkmagenta;
  margin: 0;
}
