.phonebook__user-menu {
  display: flex;
  align-items: center;
  gap: 24px;

  font-size: 24px;

  > p {
    margin: 0;

    > span {
      color: cadetblue;
      font-weight: bold;
      text-shadow: 1px 1px 1px black, 1px 4px 4px black;
      text-transform: uppercase;
    }
  }

  > button {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
